<a class="d-block p-3 text-center text-white bg-danger b4b full-width">
  <%= image_tag('logo2.png', size: "80") %> <br>
  MANGE STAFFS
</a>
<br><br>

<h1>Editing Staff</h1>
<hr>

<%= render 'form', staff: @staff %>


