<div class="row">
  <div class="col-md-6">
    <h1>Staffs</h1>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'New Staff', new_staff_path,class: 'btn btn-info' %>
  </div>
</div>

<table id="table" 
       data-toggle="table"
       data-query-params-type="page"
       data-search="true"
       data-pagination="true"
       data-pagination-loop ="false"
       data-side-pagination="server"
       data-url="staffs.json">
  <thead>
    <tr>
      <th data-field="staff_id" data-sortable="true">Staff ID</th>
      <th data-field="fullname" >Fullname</th>
      <th data-field="phone" >Phone</th>
      <th data-field="position" >Position</th>
      <th data-field="branch" >Branch</th>
      <th data-field="edit"></th>
      <th data-field="remove"></th>
    </tr>
  </thead>
</table>
