<a class="d-block p-5 text-center text-white bg-danger b4b full-width">MANGE STAFFS</a>
<br><br>

<div class="row">
  <div class="col-md-6">
    <h1>Staffs</h1>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'New Staff', new_staff_path,class: 'btn btn-info new', :"data-turbolinks" => false %>
  </div>
</div>

<table id="table" 
       data-toggle="table"
       data-query-params-type="page"
       data-search="true"
       data-pagination-pre-text="Previous"
       data-pagination-next-text="Next"
       data-pagination="true"
       data-pagination-loop ="false"
       data-side-pagination="server"
       data-url="staffs.json">
  <thead>
    <tr>
      <th data-field="staff_code" data-sortable="true">Staff Code</th>
      <th data-field="fullname" >Fullname</th>
      <th data-field="phone" >Phone</th>
      <th data-field="position" >Position</th>
      <th data-field="branch" >Branch</th>
      <th data-field="status" >Status</th>
      <th data-field="edit"></th>
    </tr>
  </thead>
</table>
