<a class="d-block p-3 text-center text-white bg-primary b4b full-width">
  <%= image_tag('logo2.png', size: "80") %> <br>
  MANGE PACKAGES
</a>
<br><br>

<h1>Editing Nontrainer Package</h1>
<hr>

<%= render 'form', nontrainer_package: @nontrainer_package %>

