<%= bootstrap_form_for(branch) do |f| %>

  <div class="row">
    <div class="col-4">
    <%= f.text_field :name %>
      
    </div>
    <div class="col-8">
    <%= f.text_area :address %>
      
    </div>
  </div>

  <%= f.submit nil, class: "btn btn-info btn-block" %>

<% end %>
