<a class="d-block p-5 text-center text-white bg-danger b4b full-width">MANGE BRANCHES</a>
<br><br>

<div class="row">
  <div class="col-md-6">
    <h1>Branches</h1>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'New Branch', new_branch_path, class: 'btn btn-info new', :"data-turbolinks" => false %>
  </div>
</div>

<br><br>

<table  data-toggle="table"
        data-pagination-pre-text="Previous"
        data-pagination-next-text="Next"
        data-pagination="true"
        >
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th data-width="100px"></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= branch.address %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch), class: 'btn btn-warning btn-block', :"data-turbolinks" => false %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

