<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#ntp">Nontrainer Package</a></li>
  <li><a data-toggle="tab" href="#tp">Trainer Package</a></li>
</ul>

<div class="tab-content">
  <div id="ntp" class="tab-pane fade in active">
    <%= render 'nontrainer_packages' %>
  </div>
  <div id="tp" class="tab-pane fade">
    <%= render 'trainer_packages' %>
  </div>
  </div>
</div>