<a class="d-block p-3 text-center text-white bg-primary b4b full-width">
    <%= image_tag('logo2.png', size: "80") %> <br>
    BOOKING MENU
</a>
<br><br>

<h1>New Booking</h1>

<hr>

<%= render 'form', booking: @booking %>
