<h1> <span class="glyphicon glyphicon-bullhorn"></span> Announcement</h1>

<hr>

<% @announcements.each do |a| %>

	<div class="panel panel-info">
    <div class="panel-heading"><%= a.title %></div>
    <div class="panel-body"><%= a.des %></div>
  </div>

<% end %>


