

<div class="list-group">

  <% @announcements.each do |a| %>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= a.title %></h5>
      <small class="text-muted"><%= a.date %></small>
    </div>
    <p class="mb-1"><%= a.des %></p>
    <small class="text-muted"><%= a.staff_id %><small>
  </a>
  <% end %>

</div>


