<a class="d-block p-5 text-center text-white bg-primary b4b full-width">REPORT MENU</a>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#serve">Serve</a></li>
  <li><a data-toggle="tab" href="#receipt">Receipt</a></li>
</ul>

<div class="tab-content">
  <div id="serve" class="tab-pane fade in active">
    <%= render 'serve' %>
  </div>
  <div id="receipt" class="tab-pane fade">
    <%= render 'receipt' %>
  </div>
  </div>
</div>
