/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require select2
 *= require select2-bootstrap
 *= require jquery-ui
 */
 
//@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple-line-icons";

//hide showing boostap table
div.bootstrap-table > div.fixed-table-pagination > div.float-left.pagination-detail{
  display: none !important;
}

//center pagination
div.bootstrap-table > div.fixed-table-pagination{
  text-align: center;
}

div.float-right.pagination {
  float: none !important;
  display: inline-flex !important;
  text-align: center !important;
}


.full-width{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.dropdown-menu-slidebar{
  color: white !important;
  background-color: transparent !important;
  border: 0px !important;
}

a.dropdown-item {
    color: white;
}

tbody > td{
    vertical-align: middle;
}

a:hover { 
    background-color: transparent;
}



a.btn.new{
	color: white;
	margin-top: 22px;
}

a.btn{
  color: white;
}

a.text-white{
	color: white;
}

.bootstrap-table .table > thead > tr > th {
    border-bottom: 2px solid #ddd !important;
}

.fixed-table-container tbody td {
    border-left: 0px solid #dddddd !important;
}
.table > thead:first-child > tr:first-child > th {
    border-left: 0px !important;
}
.fixed-table-container {
    border: 0px solid #dddddd !important;
}
.bootstrap-table .table {
    border-bottom: 0px solid #dddddd !important;
}

