// Place all the styles related to the Receipts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cell-center{
  text-align: center;
  align-self: center;
}

@media print {
  #container > div > div > div:nth-child(9) > div > button {
   display: none;
  }
  #menu-toggle{
    display: none;
  }
}


