<a class="d-block p-3 text-center text-white bg-primary b4b full-width">
  <%= image_tag('logo2.png', size: "80") %> <br>
  RECEIPT MENU
</a>

<br><br>

<h1>Receipts</h1>
<hr>

<%= render 'form', receipt: @receipt %>

