<a class="d-block p-3 text-center text-white bg-primary b4b full-width">
  <%= image_tag('logo2.png', size: "80") %> <br>
  MANGE MEMBERS
</a>
<br><br>

<div class="row">
  <div class="col-md-6">
    <h1>Members</h1>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'New Member', new_member_path, class: 'btn btn-info new', :"data-turbolinks" => false  %>
  </div>
</div>


<table id="table" 
       data-toggle="table"
       data-query-params-type="page"
       data-search="true"
       data-pagination-pre-text="Previous"
       data-pagination-next-text="Next"
       data-pagination="true"
       data-pagination-loop ="false"
       data-side-pagination="server"
       data-url="members.json">
  <thead>
    <tr>
      <th data-field="member_code">Member Code</th>
      <th data-field="fullname" >Fullname</th>
      <th data-field="phone" >Phone</th>
      <th data-field="nontrainer_package" >Nontrainer Package</th>
      <th data-field="start_date" >Start Date</th>
      <th data-field="end_date" >End Date</th>
      <th data-field="freeze_count" data-align="center">Freeze Count</th>
      <th data-field="edit"></th>
    </tr>
  </thead>
</table>

