<a class="d-block p-5 text-center text-white bg-primary b4b full-width">TRAINER SERVICE</a>
<br><br>

<h1>New Trainer Service</h1>
<hr>

<%= render 'form', package_occupiedby: @package_occupiedby %>

