<a class="d-block p-3 text-center text-white bg-primary b4b full-width">
  <%= image_tag('logo2.png', size: "80") %> <br>
  TRAINER SERVICE
</a>

<br><br>

<h1>New Trainer Service</h1>
<hr>

<%= render 'form', package_occupiedby: @package_occupiedby %>

